* {
    margin: 0;
    font-family: "Russo One", sans-serif;
    color: #fff;
}

body {
    background-color: #ff0000;
}

h1 {
    font-size: 78px;
} 

p {
    font-size: 22px;
    letter-spacing: 30%;
    margin-top: 25px;
    margin-bottom: 36px;
}

span {
    width: 57px;
    height: 57px;
    border: 3px solid #000;
    border-radius: 10px;
    position: absolute;
    z-index: 99;
    display: none;
}

.second {
    width: 100%;
}

.box {
    width: 43%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.total {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 13px;   
}

.col {
    background-color: #fff;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-box {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.show-border {
    border: 3px solid black;
}

.red {
    background-color: #ff0000;
}

.cyan {
    background-color: #59BC98;
}

.blue {
    background-color: #2594D2;
}

.green {
    background-color: #72BC59;
}

.purple {
    background-color: #BC59A0;
}

.yellow {
    background-color: #DCF63C;
}
